html, body {
    margin: 0;
}

img {
    width: 600px;
    height: 600px;
    align-content:center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    text-transform: uppercase;
    border-radius: 10px
}

    .nav ul li {
        display: inline;
        float: left;
        text-align: right;
    }

        .nav ul li a {
            display: block;
            padding: 8px;
            text-align: center;
            color:black;
            padding: 14px;
            text-decoration: none;
            float: right;
        }

            .nav ul li a:hover {
                background-color:aqua;
                border-radius:25px;
            }

.nav img {
    height:1.5em;
    width:auto;
}

.active {
    background-color: pink;

}
a{
    color:palevioletred
}

.sidenav {

    padding:10px;
    height: 50%;
    width: 150px;
    position:fixed;
    z-index: 1;
    top: 50px;
    left: 0px;
    background-color: white;
    overflow-x: hidden;
    font-size:24px;
    border-radius:0px 10px 10px 0px;
   
    
}

    .sidenav  a {
        text-decoration: none;
        color:black;
        display: block;
        padding-block:6px 9px;
    
    }

        .sidenav a:hover {
            color:deepskyblue;
            background-color:dodgerblue;
            border-radius:25px;
            color:lightpink;
        }
