
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:large;
    width: 100%;
    height:auto;
   
}


td, th {
    
    text-align: left;
    padding: 8px;
    border: 1px solid white;
   
}

tr, td {
    background-color: black;
}
div{
    text-align:center;
   
    font-size:x-large;
    
}
hm{
    text-align:center;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}

#myBar {
    width: 10%;
    height: 13px;
    background-color: #04AA6D;
    border-radius: 10px;
}
th.tp1 {
    border-radius: 10px 10px 0px 0px;
    border-style: none;
    background-color: #808080;
    text-align: center;
    border-bottom-style: double;
    border-bottom-color:black;
    border-bottom-width:thick;
}

td.bt1 {
    border-radius: 0px 0px 10px 10px;
    border-style: none;
    background-color: #FDF4DA;
    text-align: center;
    color: #000000;
    text-align:center;

}
th.th1 {
    border-radius: 10px 10px 0px 0px;
    border-style: none;
    background-color:beige;
    text-align: center;
    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: thick;
}

td.td1 {
    border-radius: 0px 0px 10px 10px;
    border-style: none;
    background-color:paleturquoise;
    text-align: center;
    color: #000000;
    text-align: center;
    
}
th.th4 {
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    background-color: darkblue crimson;
    text-align: center;
    border-bottom-color: mediumturquoise;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}

  

th.th3 {
    border-radius: 10px 10px 0px 0px;
    border-style:none;
    background-color:lightcoral;
    text-align: center;
    border-bottom-color: red;
    border-bottom-width:thick;
    border-bottom-style:solid;
    
}
td.td5 {
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    background-color: lightcyan;
    text-align: center;
    border-bottom-color: mediumturquoise;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}
table.vs{
    background-color:aliceblue;
}

div.btn button {
    transition-duration: 0.4s;
    border-radius: 7px;
    padding:4px;
    margin:10px
}

    div.btn button.b2:hover {
        background-color: crimson; 
        color: white;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    div.btn button.b1:hover {
        background-color: #4CAF50; /* Green */
        color:antiquewhite;
        font-family:'Agency FB'
    }
    div.btn button.b3:hover {
        background-color: aquamarine;
        color:black;
        font-family:Algerian;
    }
    div.btn button.b4:hover {
        background-color: palevioletred;
        color:darkviolet;
        font-family:Bahnschrift;
    }
    div.btn button.b5:hover {
        background-color: yellowgreen;
        color:orangered;
        font-family:'Bell MT'
    }
    div.btn button.b6:hover {
        background-color: orange;
        color: hotpink;
        font-family:'Cascadia Code';
    }
    div.btn button.b7:hover {
        background-color:lightsalmon;
        color:black;
        font-family: 'Cascadia Code';
    }